<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :feast %><br />
    <%= f.text_field :feast %>
  </div>
  <div class="field">
    <%= f.label :famine %><br />
    <%= f.text_field :famine %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
